
.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.vscode/
*.worksheet.sc
metals.sbt
target/
null
project/project
project/target
project/.bloop/
boot/
lib_managed/
src_managed/
project/plugins/project/
